langchain 
langchain-core 
langchain-community
langchainhub 
langchain-chroma 
langchain-groq 
groq
transformers 
sentence-transformers 
huggingface-hub 
accelerate
faiss-cpu 
chromadb
tavily-python
pymongo[srv]
langfuse
python-dotenv 
requests 
torch 
pydantic 
numpy
pypdf
langchain_mongodb
langchain_community 
langchain
unstructured
langgraph 
typing
langchain-google-genai 
google-generativeai 
langchain_core
gradio
python-jose
passlib[bcrypt]